<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="apps101.web.play"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="apps101.web.play.WarActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" 
            android:taskAffinity="apps101.web.play.WarActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="apps101.web.play.NasaActivity"
            android:label="@string/title_activity_nasa"
            android:screenOrientation="portrait" 
            android:taskAffinity="apps101.web.play.NasaActivity">
            <intent-filter>
            
        		<action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="apps101.web.play.JabberwockyActivity"
           android:label="@string/title_activity_jabberwocky"
            android:screenOrientation="portrait" 
            android:taskAffinity="apps101.web.play.JabberwockyActivity">
            <intent-filter>
          
         		<action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="apps101.web.play.RoundballActivity"
            android:label="@string/title_activity_roundball"
            android:screenOrientation="portrait" 
            android:taskAffinity="apps101.web.play.RoundballActivity">
            <intent-filter>
               
	            <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="apps101.web.play.NavigationActivity"
            android:label="@string/title_activity_navigation" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
